* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lucida Grande, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  padding: 10px 0;
  background: #f3f3f3;
  border-bottom: 1px solid #e7e7e7;
}
.header .logo {
  float: left;
  width: 439px;
  height: 44px;
  font-size: 22px;
  color: #333;
}
.header .logo-home {
  background: url('http://opencoursesearch.org.s3.amazonaws.com/logos/home.png') no-repeat;
  width: 342px;
}
.header .logo-nyu {
  background: url('http://opencoursesearch.org.s3.amazonaws.com/logos/nyu.png') no-repeat;
}
.header .logo-uva {
  background: url('http://opencoursesearch.org.s3.amazonaws.com/logos/uva.png') no-repeat;
}
.header .logo-unl {
  background: url('http://opencoursesearch.org.s3.amazonaws.com/logos/unl.png') no-repeat;
}
.header .logo-uno {
  background: url('http://opencoursesearch.org.s3.amazonaws.com/logos/uno.png') no-repeat;
}
.header .logo-unk {
  background: url('http://opencoursesearch.org.s3.amazonaws.com/logos/unk.png') no-repeat;
}
.header .logo-osu {
  background: url('http://opencoursesearch.org.s3.amazonaws.com/logos/osu.png') no-repeat;
}
.header .logo-ucla {
  background: url('http://opencoursesearch.org.s3.amazonaws.com/logos/ucla.png') no-repeat;
  width: 464px;
}
.header .total-count {
  float: right;
  text-align: right;
  color: #444;
  font-size: 13px;
  margin-top: 7px;
}

#textsearch {
  width: 951px;
  height: 20px;
  font-size: 17px;
  padding: 2px;
  margin: 8px 0 0 0;
  color: #333;
  background: #eee;
}

/* RESULTS */
.results_summary {
  font-size: 16px;
  text-align: center;
  margin-bottom: 13px;
  color: #0c6826;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

#search {
  padding: 8px;
}

#results {
  width: 960px;
  font-family: Georgia, serif;
  font-size: 12px;
  margin-top: 10px;
  /*padding: 15px 0 30px 0;*/
}
#results .result {
  position: relative;
  z-index: 10;
  width: 100%;
  margin: 0 0 0px 0;
  border-top: 1px solid #e5e5e5;
}
#results .result .top {
  position: relative;
  z-index: 10;
  padding: 8px;
  height: 44px;
  margin-left: -1px;
  /*border-radius: 15px;*/
}
#results .result .top.status-open {border-left: 2px solid #259c09;}
#results .result .top.status-waitlist {border-left: 2px solid #a1a1a1;}
#results .result .top.status-closed {border-left: 2px solid #b81e1e;}
#results .result .top:hover, #results .result.expanded .top {
  cursor: pointer;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: -1px 0 -1px -1px;
}
#results .result .top .names {float: left;}
#results .result .top .names .course_name, #results .result .top .names .course_name a {font-weight: bold; font-size: 14px; color: #243759; text-decoration: none;}
#results .result .top .names .course_name a:hover {text-decoration: underline;}
#results .result .top .names .college_name {color: #555;}
#results .result .top .names .classification_name {color: #555;}
#results .result .top .meta {float: right; color: #555; text-align: right;}
#results .result .top .meta .classification_code {}
#results .result .top .meta .level_name {}
#results .result .top .meta .grading {}
#results .result.expanded .top-arrow {display: none;}
#results .result .top-arrow {
  position: absolute;
  z-index: 5;
  top: 28px;
  font-size: 0;
  height: 0;
  line-height: 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #c7d2e2;
  border-width: 15px 15px 0px 15px;
  margin: 0 468px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#results .result .extra.inactive {display: none;}
#results .result .extra .description {padding: 3px 6px; font-size: 13px; line-height: 18px;}
#results .result .extra .sections {
  /*margin: 5px 0 5px 40px;*/
  margin: 0px 0 5px 0px;
  padding: 5px;
}
#results .result .extra .sections a {
  color: #111;
  text-decoration: none;
  clear: both;
}
#results .result .extra .sections .section {
  /*background: #f4f4f4;*/
  /*border: 1px solid #ccc;*/
  margin: 4px 4px 7px 4px;
  font-size: 13px;
  clear: both;
}
#results .result .extra .sections .section.column_heads {
  background: none;
  border: none;
  margin: 4px 4px 16px 4px;
  font-size: 12px;
  color: #aaa;
}
#results .result .extra .sections .section.column_heads:hover {background: none;}
#results .result .extra .sections .section.odd {background: #fff;}
#results .result .extra .sections .section:hover {/*background: #eaeaea;*/}
#results .result .extra .sections .section.status-waitlist {color: #777;}
#results .result .extra .sections .section.status-closed {color: #d07d81;}
#results .result .extra .sections .section span {float: left; margin-right: 15px;}
#results .result .extra .sections .section span.number {width: 40px;}
#results .result .extra .sections .section span.status {width: 70px;}
#results .result .extra .sections .section .day {width: 60px;}
#results .result .extra .sections .section .time {width: 130px;}
#results .result .extra .sections .section .location {width: 80px;}
/*#results .result .extra .sections .section span.days {width: 120px;}
#results .result .extra .sections .section span.times {width: 130px;}*/
#results .result .extra .sections .section span.prof {width: 120px;}
#results .result .extra .sections .section span.units {width: 56px;}
#results .result .extra .sections .section span.name {width: 100px;}
#results .result .extra .sections .section span.component {width: 70px;}
#results .result .extra .sections .section span.seats {width: 70px;}
#results .result .extra .sections .section span.waitlist {width: 80px;}
#results .result .extra .sections .section span.percentage {width: 150px;}
#results .result .extra .sections .section .notes {color: #888; clear: both; padding: 4px 0px;}
#results .result .extra .sections .section:hover .notes {color: #444;}




.stats {
  width: 960px;
  margin: 0 auto;
  font-family: Georgia, serif;
}
h1 {
  font-size: 18px;
  margin: 20px 0;
  font-family: Lucida Grande, sans-serif;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
ul.filters {
  margin-top: 10px;
  list-style: none;
}
ul.filters li {
  float: left;
}
ul.filters li.remove-hover {
  cursor: pointer;
}
ul.filters li.remove-hover span.name {
  text-decoration: line-through;
  color: #a63737;
  font-weight: bold;
}
ul.filters li.remove-hover span.remove {
  font-weight: bold;
  color: #000;
}
ul.filters li.fil-level, ul.filters li.fil-level select {
  width: 110px;
  margin-right: 55px;
}
ul.filters li.fil-college, ul.filters li.fil-college select {
  width: 374px;
  margin-right: 56px;
}
ul.filters li.fil-subject, ul.filters li.fil-subject select {
  width: 360px;
}
ul.filters li span {
  position: relative;
}
ul.filters li span.remove {
  float: right;
  color: #666;
  text-align: right;
  padding: 0;
  margin: 18px -15px 0 0;
}
.query-remove {
  float: right;
  color: #666;
  text-align: right;
  padding: 0;
  margin: -24px -10px 0 0;
}
.query-remove:hover {
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.searchfilters {
  width: 960px;
  margin: 0 auto;
}

.more-results {
  color: #333;
  padding: 17px 9px;
  width: 942px;
  height: 20px;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid #ccc;
  background-color: #F8F8F8;
  background-image: -moz-linear-gradient(top, #F8F8F8, #F3F3F3); /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#F3F3F3)); /* Saf4+, Chrome */
  background-image: linear-gradient(top, #F8F8F8, #F3F3F3);
}
.more-results:hover {
  background: #ddd;
  cursor: pointer;
}
.no-next-page {
  color: #333;
  padding: 8px;
  width: 942px;
  height: 20px;
  font-size: 18px;
  text-align: center;
}

ul.nav {
  list-style: none;
  float: left;
  margin-top: 0px;
  margin-left: 10px;
  width: 300px;
}
ul.nav li {
  float: left;
  margin-right: 10px;
}
ul.nav li a {
  color: #333;
  font-size: 14px;
}
ul.nav li a:hover {
  color: #eee;
  background: #222;
}

.bodycontent {
  margin: 25px auto 0 auto;
  padding-top: 20px;
  width: 680px;
  padding-right: 280px;
  font-family: Georgia, sans-serif;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 30px;
}
.bodycontent p {
  margin-bottom: 8px;
}

.license-box {
  margin-top: 25px;
  text-align: center;
  /*border: 1px solid #555;*/
  padding: 10px;
}
.license-box a {
  color: #333;
}
.social {
  margin: 4px -14px 0 0;
  float: right;
  text-align: right;
}

.search-counts {
  float: right; font-size: 13px; margin-top: 4px; position: relative;
}
.search-counts span {
  float: left;
  margin: 3px 0 0 0;
}
.search-counts .session-switcher-current {
  list-style: none;
  margin-left: 5px;
  float: left;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  background-position: right 8px;
  padding: 3px 14px 3px 3px;
  background-color: #eee;
}
.session-switcher-current:hover {
  cursor: pointer;
  background-color: #ddd;
}
.session-switcher-current.clicked {
  background-color: #ddd;
}
ul.session-switcher {
  position: absolute;
  top: 22px;
  right: 0;
  display: none;
  list-style: none;
  background: #e0e0e0;
}
ul.session-switcher.active {
  display: block;
}
ul.session-switcher li {
  text-align: right;
  padding: 5px 14px 5px 5px;
  color: #333;
}
ul.session-switcher li.option:hover {
  background: #ccc;
  color: #000;
  cursor: pointer;
}
ul.session-switcher li a {
  text-decoration: none;
  color: #333;
}

.stats .boxes {
  width: 100%;
  height: 179px;
}

.stats .boxes .box {
  width: 14px;
  height: 14px;
  float: left;
  opacity: 0.7;
  margin: 0 1px 1px 0;
}
/*.stats .boxes .box:hover {
  opacity: 1.0;
  -moz-opacity: 1.0;
  -webkit-opacity: 1.0;
}*/
.stats .key {
  padding-top: 12px;
  clear: left;
  font-size: 12px;
  color: #555;
  float: right;
  width: 100px;
}
.stats .key .box {
  margin: 3px 5px 0 0px;
  background: #aaa;
  width: 10px;
  height: 10px;
  float: left;
}
.stats .boxes .open {
  background: #0f8623;
}
.stats .boxes .closed {
  background: #b01c1c;
}
.stats .boxes .wait {
  background: #e0e300;
  color: #e0e300;
}
.stats .boxes .unknown {
  background: #aaa;
  color: #aaa;
}
.bar {
  width: 100%;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}
.bar .element {
  float: left;
  height: 40px;
  border-left: 1px solid #555;
}
.stats .info {
  clear: left;
  font-size: 20px;
  margin-top: 15px;
}
.stats .info p {
  float: left;
  width: 400px;
}
.stats .info span {
  font-size: 24px;
  font-weight: bold;
}
.stats .info .open {
  background: #fff;
  color: #0f8623;
}
.stats .info .closed {
  background: #fff;
  color: #b01c1c;
}
.stats .info .wait {
  background: #fff;
  color: #e0e300;
}
.stats .info .unknown {
  background: #fff;
  color: #aaa;
}

.stats-selectors {
  clear: both;
  padding-top: 15px;
}
.stats-selectors .options {
  margin-bottom: 30px;
}
.stats-selectors .options .option {
  width: 118px;
  height: 60px;
  padding: 8px 6px;
  border: 1px solid #aaa;
  float: left;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: #eee;
  text-align: center;
  font-size: 12px;
  margin: 0 5px 5px 0;
}
.stats-selectors .subjects.options .option {
  font-size: 12px;
  width: 101px;
  height: 50px;
  margin: 0 5px 5px 0;
  padding: 8px 6px;
}
.stats-selectors .options .option:hover {
  background: #ccc;
  cursor: pointer;
}
.stats-selectors .options .option.active {
  background:#afdef3;
}
.stats-selectors .options .sub-level {
  margin-top: 5px;
  color: #555;
  font-size: 11px;
}

.stats {
  padding-top: 10px;
  min-height: 230px;
}
.results.loading .stats {
  opacity: .5;
  -moz-opacity: .5;
  -webkit-opacity: .5;
}
.results .stats h2 {
  margin: 0px 0 6px 0;
  font-size: 18px !important;
}

.filters.hide {
  display: none;
}
h2 .crumbs {
  font-size: 14px !important;
}
.pressenter {
  margin-top: 8px;
  font-size: 13px;
  color: #222;
  background: #f0efbd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 12px;
  padding: 3px;
  clear: both;
  width: 128px !important;
}

/* course detail */
#content {
  background: #fff;
  width: 960px;
  margin: 0 auto;
  padding: 10px 0px 0px 0px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.course_detail {
  font-family: Georgia;
}
.course_detail .top {
  background: #e7edf6;
  border: 1px solid #ccc;
  padding: 5px 8px;
  font-size: 12px;
}
.course_detail .top .names {float: left;}
.course_detail .top .names .course_name {color: #243759; font-weight: bold; font-size: 17px;}
.course_detail .top .names .college_name {color: #555;margin-top: 3px;}
.course_detail .top .names .classification_name {color: #555;}
.course_detail .top .meta {float: right; color: #555; text-align: right;}
.course_detail .top .meta .classification_code {}
.course_detail .top .meta .level_name {}
.course_detail .top .meta .grading {}

.course_detail .sections {
  /*margin: 5px 0 5px 40px;*/
  margin: 5px 0 5px 0px;
}
.course_detail .sections a {
  color: #111;
  text-decoration: none;
}
.course_detail .sections .section {
  background: #f4f4f4;
  border: 1px solid #ccc;
  padding: 4px;
  margin: 0 0 3px 0;
  font-size: 13px;
}
.course_detail .sections .section.odd {background: #fff;}
/*.course_detail .sections .section:hover {background: #eaeaea;}*/
.course_detail .sections .section.status-waitlist {color: #777;}
.course_detail .sections .section.status-closed {color: #d07d81;}
.course_detail .sections .section span {float: left; margin-right: 15px;}
.course_detail .sections .section span.number {width: 60px;}
.course_detail .sections .section span.status {width: 70px;}
.course_detail .sections .section span.days {width: 120px;}
.course_detail .sections .section span.times {width: 130px;}
.course_detail .sections .section span.prof {width: 150px;}
.course_detail .sections .section span.units {width: 100px;}
.course_detail .sections .section span.percentage {width: 150px;}
.course_detail .comments {
  margin-top: 15px;
}


/* end course detail */

/* index */

.shadowed {box-shadow: 0 2px 12px rgba(0,0,0,0.35); -moz-box-shadow: 0 2px 12px rgba(0,0,0,0.35); -webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.35);}
.frontpage {border: none !important;}

.index {
  clear: both;
  margin: 25px auto auto !important;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
}
.index .bang {
  margin: 40px auto 60px auto;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
.index .bang .larger {
  font-size: 24px;
  font-weight: bold;
}
.index .bang .smaller {
  margin-top: 7px;
  font-size: 16px;
}
.index .list {}
.index .list .item {float: left;}
.index .list p {
  margin: 15px 0 15px 0;
  font-size: 14px;
  line-height: 20px;
}
.index .list p a {
  color: #23355c;
}
.index .list .special {
  color: #bd1818;
  font-weight: bold;
}
.index .list .title {
  margin-bottom: 40px;
}
.index .list .title .number {
  border: 1px solid #275c75;
  background: #3282a7;
  color: #fff;
  font-size: 17px;
  padding: 2px 4px;
  margin-right: 6px;
}
.index .list .title .text {
  font-size: 20px;
  font-weight: normal;
}
.index .list .one {
  width: 260px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #ddd;
}
.index .list .two {
  width: 360px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #ddd;
}
.index .list .two img {
  margin-left: -5px;
}
.index .list .three {
  width: 250px;
}
.index .list .one ul {
  clear: both;
  list-style: none;
}
.index .list .one ul li {
  margin: 10px 0;
  font-size: 16px;
}
.index .list .one ul li a {
  color: #111;
  text-decoration: none;
}
.index .list .one ul li a:hover {
  text-decoration: underline;
}


.filter_helper {
  padding: 20px 0;
}



/* end index */



/* documentation */

.docs {
}
.docs a {
  color: #23355c;
}
.docs h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px 0 10px;
}
.docs h4 {
  font-size: 14px;
  padding: 2px 4px;
  background: #dae5fe;
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px 0 5px 0;
}


.docs p.url {
  padding: 4px;
  background: #eee;
  border: 1px solid #bbb;
  font-family: Courier;
  color: #555;
  font-size: 12px;
}
.docs table {
  font-family: Helvetica, sans-serif;
}
.docs table th {
  font-weight: normal;
  text-align: left;
  padding: 5px;
  background: #ccc;
}
.docs table td {
  font-size: 13px;
  line-height: 19px;
  padding: 5px 5px 5px 10px;
  vertical-align: top;
}
.docs table td.level, .docs td.field, .docs td.type {
  font-family: Courier;
  color: #555;
  font-size: 12px;
  padding: 5px 8px 5px 5px;
  background: #eee;
  vertical-align: top;
}
.docs table td.level {
  width: 110px;
}
.docs table td.field {
  font-weight: bold;
  color: #222;
}
.docs table td.type {
  background: #f8f8f8;
}

.docs ul {
  margin-left: 20px;
}
.docs ul li {
}

.docs .uplevel {
  color: #aaa;
  display: block;
}

.docs .code {
  font-family: Courier;
  font-size: 90%;
}
.docs pre {
  font-size: 13px;
  width: 680px;
  word-wrap: break-word;
  background: #eee;
  padding: 4px;
  border: 1px solid #ccc;
}

.docs form {
  margin: 25px 0;
}
.docs form input#email {
  width: 400px;
  height: 20px;
  padding: 3px;
  font-size: 14px;
}
.docs form input.submit {
  clear: both;
  display: block;
  margin: 20px 0 0 84px;
}
.docs form label {
  font-family: Helvetica, Arial, sans-serif;
  margin-right: 15px;
}
.docs form p {
  padding: 4px;
}
.docs form p.error {
  background: #f59898;
}
.docs form p.success {
  background: #98f59c;
}

/* end documentation */


.page-loading {
  background: #f0efbd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 12px;
  padding: 3px;
  display: none;
}
.page-loading.active {display: inline;}
.tagline {
  font-size: 13px; margin-top: 6px;
}



























