{% extends 'base.html' %}

{% block title %}{{ NETWORK.slug.upper }}.OpenCourseSearch.org | Course listings{% endblock %}

{% block extrahead %}

{% endblock extrahead %}

{% block content %}
  <div id="content">
    {% include 'network/_search.html' %}
    <div id="results" class="results"></div>
    <div class="stats-selectors" style="display: none;"></div>
  <div id="inbox">
  </div>
  </div>

<script type="text/javascript">
  $(document).ready(function() {
    search.set_vars('{{ NETWORK.slug }}', '{{ session.slug }}');
    update_stats.set_vars('{{ NETWORK.slug }}', '{{ session.slug }}');
    search.loading("start");
    search.populate_facets(function() {
      search.prepare_facets();
      search.prepare_stats();
      search.deactivate();
      search.loading("stop");
    });
  });
</script>

{% endblock %}