<div class="outer">
<div class="container">
  <div class="handle clearfix">
    <span>Shopping Cart</span>
    {% if undo %}<span class="undo" section_id="{{ undo }}">(undo)</span>{% endif %}
  </div>
  <ul>
  {% for s in sections %}
    <li class="clearfix" section_id="{{ s.id }}" course_id="{{ s.course.id }}">
      <span class="name">{{ s.course.course_name }}</span>
      <span class="classification">{{ s.course.classification.name }}</span>
      <span class="section">{{ s.course.classification.code }}-{{ s.section }}</span>
      <span class="number">#{{ s.number }}</span>
      <span class="remove">x</span>
    </li>
  {% endfor %}
  </ul>
</div>
</div>