{% extends 'base.html' %}

{% block content %}
  <div class="searchfilters">
    <ul class="filters clearfix">
      <li class="fil-level">
        <span class="remove">x</span>
        <span class="name">Level</span>
        <select id="level" class="searcher">
          <option value="-">All</option>
          <option value="U">Undergraduate</option>
          <option value="G">Graduate</option>
        </select>
      </li>
      <li class="fil-college">
        <span class="remove">x</span>
        <span class="name">College</span>
        <select id="college" class="searcher">
          <option value="-">All</option>
          {% for c in colleges %}
          <option value="{{ c.id }}">{{ c }}</option>
          {% endfor %}
        </select>
      </li>
      <li class="fil-subject">
        <span class="remove">x</span>
        <span class="name">Subject</span>
        <select id="subject" class="searcher">
          <option value="-">All</option>
          {% for s in subjects %}
          <option value="{{ s.id }}" college="{{ s.college.id }}">{{ s.name }} ({{ s.code }})</option>
          {% endfor %}
        </select>
      </li>
    </ul>
    <input id="textsearch" class="searcher" type="text" value="Search (subject, professor, keyword...)" onfocus="if(this.value == update.search_text) {this.value = '';}" onblur="if (this.value == '') {this.value = update.search_text;}"></input>
  </div>
  
  <div id="results">
  
  </div>
  
  <div id="inbox">
  </div>
{% endblock %}
